In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

%matplotlib inline

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Joao Da Barra,BR,2022-04-27 21:00:39,-21.6403,-41.0511,76.69,86,13,10.56
1,1,Salalah,OM,2022-04-27 21:00:48,17.0151,54.0924,80.69,81,22,3.47
2,2,Jamestown,US,2022-04-27 21:00:48,42.0970,-79.2353,32.02,63,100,12.66
3,3,Saint-Pierre,RE,2022-04-27 21:00:49,-21.3393,55.4781,73.08,71,0,8.05
4,4,Waingapu,ID,2022-04-27 21:00:49,-9.6567,120.2641,74.32,82,99,3.94

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key="AIzaSyBakRTMqEcTiTXrBGcIxaRldEH4erdpqQE")

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))