In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

%matplotlib inline

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Joao Da Barra,BR,2022-04-27 21:00:39,-21.6403,-41.0511,76.69,86,13,10.56
1,1,Salalah,OM,2022-04-27 21:00:48,17.0151,54.0924,80.69,81,22,3.47
2,2,Jamestown,US,2022-04-27 21:00:48,42.0970,-79.2353,32.02,63,100,12.66
3,3,Saint-Pierre,RE,2022-04-27 21:00:49,-21.3393,55.4781,73.08,71,0,8.05
4,4,Waingapu,ID,2022-04-27 21:00:49,-9.6567,120.2641,74.32,82,99,3.94

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key="AIzaSyBakRTMqEcTiTXrBGcIxaRldEH4erdpqQE")

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Joao Da Barra,BR,2022-04-27 21:00:39,-21.6403,-41.0511,76.69,86,13,10.56
1,1,Salalah,OM,2022-04-27 21:00:48,17.0151,54.0924,80.69,81,22,3.47
3,3,Saint-Pierre,RE,2022-04-27 21:00:49,-21.3393,55.4781,73.08,71,0,8.05
4,4,Waingapu,ID,2022-04-27 21:00:49,-9.6567,120.2641,74.32,82,99,3.94
5,5,Cedar City,US,2022-04-27 21:00:19,37.6775,-113.0619,70.39,14,1,15.30
20,20,Flinders,AU,2022-04-27 21:00:56,-34.5833,150.8552,65.37,92,35,7.00
24,24,Guerrero Negro,MX,2022-04-27 20:59:17,27.9769,-114.0611,70.39,52,0,17.85
28,28,Avarua,CK,2022-04-27 21:00:58,-21.2078,-159.7750,82.45,83,75,9.22
29,29,Poum,NC,2022-04-27 21:00:59,-20.2333,164.0167,76.96,71,100,17.20
32,32,Chake Chake,TZ,2022-04-27 21:01:00,-5.2459,39.7666,79.43,80,95,9.04

In [16]:
preferred_cities_df.count()

City_ID       238
City          238
Country       238
Date          238
Lat           238
Lng           238
Max Temp      238
Humidity      238
Cloudiness    238
Wind Speed    238
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0   Sao Joao Da Barra      BR     76.69 -21.6403  -41.0511
1             Salalah      OM     80.69  17.0151   54.0924
3        Saint-Pierre      RE     73.08 -21.3393   55.4781
4            Waingapu      ID     74.32  -9.6567  120.2641
5          Cedar City      US     70.39  37.6775 -113.0619
20           Flinders      AU     65.37 -34.5833  150.8552
24     Guerrero Negro      MX     70.39  27.9769 -114.0611
28             Avarua      CK     82.45 -21.2078 -159.7750
29               Poum      NC     76.96 -20.2333  164.0167
32        Chake Chake      TZ     79.43  -5.2459   39.7666

In [50]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [51]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sao Joao Da Barra,BR,76.69,-21.6403,-41.0511,Pousada Porto De Canoas
1,Salalah,OM,80.69,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
3,Saint-Pierre,RE,73.08,-21.3393,55.4781,Lindsey Hôtel
4,Waingapu,ID,74.32,-9.6567,120.2641,Pondok Wisata Elim
5,Cedar City,US,70.39,37.6775,-113.0619,Hampton Inn Cedar City
20,Flinders,AU,65.37,-34.5833,150.8552,Shellharbour Resort & Conference Centre
24,Guerrero Negro,MX,70.39,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
28,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
29,Poum,NC,76.96,-20.2333,164.0167,
32,Chake Chake,TZ,79.43,-5.2459,39.7666,Hotel Archipelago

In [55]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]